body {
    background: linear-gradient(45deg, #100F0F, #0F3D3E, #395B64);
    background-size: 200% 200%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

main {
    display: flex;
    justify-content: space-around;
    height: 95vh;
}

main div {
    text-align: left;
    border: black 0.0vh solid;
    border-radius: 2vh;
    margin: auto;
    width: 15%;
    height: 50%;
    padding: 4vw;
    background-color: #ffffff;
    line-height: 1.5vw;
    color: rgb(0, 136, 255);
    font-family: "Noto Sans";
    box-shadow: 0 1% 20% rgba(0, 0, 0, .7);
}
main div a {
    color: #000;
    text-decoration: underline;
}

main div.breve h6 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5vh;
    background-color: rgb(240, 6, 6);
    margin-right: 11.5vh;
    float: right;
    width: 6vh;
    padding-left: 0.2vh;
     
}

main div.b h6 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5vh;
    background-color: rgb(240, 6, 6);
    margin-right: 1vh;
    float: right;
    width: 7vh;
    padding-left: 0.9vh;
       
}
.novo h6 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5vh;
    background-color: rgb(0, 136, 255);
    width: 6vh;
    line-height: -8vw;
    float: right;
    margin-right: 15vh;
    padding-left: 0.2vh;
    border-right: 15vh;
}

main div.breve {
    color: #7F8487;
}

main div.b {
    color: #7F8487;
}