* {
    /* CSS RESET */
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    background: linear-gradient(45deg, #002B5B, #2B4865, #387d94);
    background-size: 200% 200%;
    animation: colors 15s ease infinite;
    /*background-image: linear-gradient(to right , #cb2d3e , #ef473a); */
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

header {
    height: 8vh;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(90, 256, 256, 0.3);
    box-shadow: 0 1% 70% rgba(0, 0, 0, 0.7);
    animation: colors 15s ease infinite;
}

header #logo {
    height: 4.2vh;
    margin: 1.5vh auto 3vh 3vh;
}

header nav {
    margin: auto;
    padding: 0.8vh;
    font-size: 1.7vh;
    color: white;
    margin-left: 6%;
    font-family: "Noto Sans";
    
}

a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 5vh;
  }

header nav a:hover{

    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

header #register {
    margin: auto;
    margin-right: 5vw;
    padding: 0.8vh;
    font-size: 1.7vh;
    display: flex;
    /* margin-top: 1.5%;
    background-color: #E8F9FD;
    border: solid 1px;
    border-radius: 11px;
    width: 9%;
    height: 21%; */
    font-family: "Noto Sans";
}


/* .searchBox {
    position: absolute;
    top: -1%;
    right: 30%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 20px;
    border-radius: 20px;
    padding: 5px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
} */

#divbusca {
    margin-top: 1.2%;
    background-color: #E8F9FD;
    border: solid -1vw;
    border-radius: 15vw;
    width: 20%;
    height: 37%;
    border-color: aquamarine;
}

#txtbusca {
    float: left;
    background-color: transparent;
    padding-left: 1%;
    font-style: italic;
    font-size: 95%;
    border: none;
    height: 100%;
    width: 71%;
    border-radius: 11vh;
}

#btnbusca {
    margin-top: 1%;
    margin-left: 17%;
    background-color: transparent;
    padding-left: 1%;
    border: none;
    height: 78%;
    width: 6%;
}

main {
    height: 80vh;
}

main section {
    display: flex;
    margin-top: 17vh;
    font-family: "Noto Sans";
    font-size: 2vh;
}


main #img {
    padding-left: 15vw;
    padding-bottom: 1.5vw;
    box-shadow: 0 10px 35px rgba(0, 0, 0, .7);
    border-radius: 1.5vh;
    margin-left: -2%;
    width: 21%;
    background: linear-gradient(45deg, transparent, #2B4865, #256D85);
    background-size: 200% 200%;
    animation: colors 15s ease infinite;
}

main #text {
    margin: auto;
    margin-right: 8vw;
    margin-bottom: 0px;
    width: 45vw;
    text-align: justify;
    text-justify: inter-word;
    color: white;
    margin-top: 4vw;
    font-size: 1.8vh;
    font-family: "MS Reference Sans Serif Regular";  
    line-height: 3.1vh; 
}

main div img,
png {
    margin-top: 1vw;
    height: 40vh;
    margin-left: -5vw;
    

}

main #b {
    margin-top: 1.3vh;
}

footer {
    height: 10vh;
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Noto Sans";
    font-size: 1.7vh;
}

footer section {
    display: flex;
    gap: 4vw;
}

footer #left {
    margin: auto;
    margin-left: 8vw;
}

footer #right {
    gap: 1.5vw;
    margin: auto;
    margin-right: 4vw;
}

footer img {
    height: 6vh;
}